/* @import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;500;900&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
.App {
  background-image: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;
}
.cover {
  background: rgba(0, 0, 0, 0.7);
  min-height: 100vh;
  width: 100vw;
  padding-top: 10px;
}
.title {
  color: #fff;
  width: 100%;
  text-align: center;
}
.fa-couch {
  color: #7f5217;
  animation: continous 1s ease-in-out forwards;
}
.fa-couch.mobile {
  color: #7f5217;
  display: none;
}
.mobile {
  display: none;
}
.title2 {
  color: #7f5217;
}

/* Body */
.containerbody {
  width: 80%;
  height: 80vh;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
}
.card1 {
  background-image: url("https://images.unsplash.com/photo-1557752624-e5fa8fdcdf5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 400px;
  margin: 10px;
  border-radius: 5px;
}
.card2 {
  background-image: url("https://i.pinimg.com/564x/2a/eb/c0/2aebc03fa3dbc2b02990bbb453f8d0a2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 400px;
  margin: 10px;
  border-radius: 5px;
}
.cover2 {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.cover2 h2 {
  text-align: center;
  color: #fff;
  text-decoration: underline;
}

.options {
  display: flex;
  flex-direction: column;
}
.options button {
  width: 90%;
  margin: 2.5px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #d4d4d4;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.5rem;
}
.options button:hover {
  opacity: 0.7;
}

/* Icons */
.containericons {
  position: fixed;
  top: 300px;
  width: 150px;
  height: 400px;
  margin-left: 0px;
}
.containericons h3 {
  top: 300px;
  text-align: center;
  color: #fff;
}
.containercontact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.containercontact a {
  display: flex;
  text-decoration: none;
  transform: translate(-200%);
  animation: icons 0.5s forwards ease-in-out;
  animation-delay: 2s;
}
.containercontact h3 {
  color: #fff;
  text-decoration: underline;
  transform: translate(-200%);
  animation: icons ease-in 1s forwards;
}
.containercontact a i {
  color: #fff;
  font-size: 3rem;
  margin: 5px;
}

.containercontact a i:hover {
  color: #493d26;
}

/* .containercontact a i small {
  color: #493d26;
  display: none;
  font-size: 0.5rem;
  float: right;
}
.containercontact a i:hover small {
  display: inline-block;
  color: #fff;
} */

/* containercontacts */
.containercontacts {
  position: absolute;
  top: 50%;
  right: 0;
  color: #fff;
  width: 300px;
  padding: 2px;
  text-align: center;
  margin-right: 5px;
}
.containercontacts h4 {
  text-decoration: underline;
}
.containercontacts p strong {
  text-decoration: underline;
  cursor: pointer;
}
.containercontacts p strong:hover {
  color: #008080;
}
.feedbackcontainer {
  bottom: 10px;
  right: 10px;
  position: fixed;
}
.feedbackbtn {
  padding: 5px;
  background-color: #493d26;
  border: none;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  cursor: pointer;
  outline: none;
}
.feedbackbtn:hover {
  opacity: 0.5;
}
.fa-comments {
  font-size: 1.5rem;
  padding: 5px;
}

/* Models */
.model {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
}
.feedbackcard {
  background-color: #493d26;
  width: 300px;
  height: 450px;
  margin: 0 auto;
  margin-top: 200px;
  border-radius: 5px;
  position: relative;
}
.closebtn {
  width: 30px;
  height: 30px;
  background-color: #ff2400;
  text-align: center;
  padding: 3px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  float: right;
  margin: -10px;
  cursor: pointer;
}
.closebtn:hover {
  opacity: 0.5;
}
.feedbackcard h4 {
  text-align: center;
  color: #fff;
  text-decoration: underline;
  padding: 10px;
}
.feedbacks {
  height: 300px;
  padding: 10px;
  overflow: auto;
}
.feedbacks::-webkit-scrollbar {
  width: 6px;
  background-color: #333;
  border-radius: 2px;
}
.feedbacks::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 2px;
}
.feedbacks div {
  background-color: #d4d4d4;
  width: 80%;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}
.feedbacks div .date {
  text-align: right;
  padding: 2px;
  color: #333;
}
.userfeedback {
  padding: 4px;
}
.username {
  color: #7f5217;
}

.feedbackformcontainer {
  width: 100%;
  bottom: 0;
  position: absolute;
  /* background-color: aqua; */
}

.feedbackinput {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

.feedbackform div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
}
.regioninput {
  width: 100px;
  padding: 3px;
  border: none;
  border-radius: 4px;
}
.cellinput {
  border: none;
  border-radius: 4px;
  padding: 3px;
  width: 150px;
}
.submitbtn {
  padding: 5px;
  border: none;
  border-radius: 5px;
  width: 70%;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5px;
  background-color: #7f5217;
  color: #d4d4d4;
  cursor: pointer;
}
.submitbtn:hover {
  opacity: 0.8;
}
.inactive {
  display: none;
}
.active {
  display: block;
}

/* Items container images */
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
  position: relative;
  border: solid 5px #008080;
}
.closebtn-items {
  width: 30px;
  height: 30px;
  background-color: #ff2400;
  text-align: center;
  padding: 3px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin: -10px;
}
.closebtn-items:hover {
  background-color: red;
}
.item-container {
  margin: 5px;
  background-color: #7f5217;
  border-radius: 5px;
  padding: 5px;
}
.item-img-container img {
  width: 250px;
  height: 200px;
}
.item-name {
  font-weight: bolder;
  font-size: 1.5rem;
  color: #333;
  text-decoration: underline;
}
.item-description {
  font-size: small;
  color: #fff;
}

/* Upload Container */
.upload-conatianer {
  width: 60%;
  margin: auto;
}
.upload-conatianer h1 {
  text-align: center;
  color: #d4d4d4;
}
.upload-body {
  width: 60%;
  background-color: #493d26;
  margin: auto;
  border-radius: 5px;
}
.upload-body form div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.upload-body form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.upload-body form select {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.upload-body form textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.upload-body form button {
  padding: 5px;
  border-radius: 5px;
  border: none;
  color: #d4d4d4;
  background-color: #7f5217;
  cursor: pointer;
}
.upload-body form button:hover {
  background-color: #333;
}

/* animations */
@keyframes continous {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(2);
  }
  95% {
    transform: rotate(20deg);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes icons {
  0% {
    transform: translate(-200%);
  }
  100% {
    transform: translate(0);
  }
}

/* SmartPhone */
@media (max-width: 1000px) {
  .App {
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    min-height: 100%;
    overflow-y: auto;
  }
  .cover {
    /* position: absolute; */
    padding-bottom: 50px;
  }
  .fa-couch {
    display: none;
  }
  .fa-couch.mobile {
    display: inline;
  }
  .mobile {
    display: inline;
  }
  .title1 {
    font-size: 1.2rem;
    text-align: center;
    text-decoration: underline;
  }
  .title2 {
    font-size: 0.8rem;
  }

  .containerbody {
    width: 100%;
    height: 390px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* background-color: #008080; */
    overflow-y: auto;
  }
  .card1 {
    background-image: url("https://images.unsplash.com/photo-1557752624-e5fa8fdcdf5e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 380px;
    width: 90%;
    margin: 10px;
    border-radius: 5px;
  }
  .card2 {
    background-image: url("https://i.pinimg.com/564x/2a/eb/c0/2aebc03fa3dbc2b02990bbb453f8d0a2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 380px;
    width: 90%;
    margin: 10px;
    border-radius: 5px;
  }
  .cover2 {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
  }

  /* Body */
  .options button {
    font-size: 1rem;
  }

  /* icons */

  .containericons {
    position: relative;
    top: 0;
    width: 100%;
    height: 70px;
    transform: translateY(100%);
  }
  .containericons h3 {
    width: 100%;
    text-align: center;
    color: #fff;
    text-decoration: underline;
    animation: none;
  }
  .containercontact {
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 0;
    flex-wrap: wrap;
  }

  .containercontact a {
    display: flex;
    text-decoration: none;
    transform: translate(0);
    animation: none;
    margin-top: 0;
  }

  .containercontact a i {
    color: #fff;
    font-size: 2rem;
    margin: 5px;
  }

  .containercontact a i:hover {
    color: #493d26;
  }

  /* contacts */
  .containercontacts {
    color: #fff;
    padding: 2px;
    text-align: center;
    margin-right: 0;
    background-color: transparent;
    position: relative;
    top: 0;
    padding: 30px;
    width: 100%;
    transform: translatey(-90%);
  }
  .containercontacts h4 {
    text-decoration: underline;
    position: relative;
  }
  .containercontacts p strong {
    text-decoration: underline;
    cursor: pointer;
  }
  .containercontacts p strong:hover {
    color: #008080;
  }
  .feedbackcontainer {
    position: fixed;
    outline: none;
    bottom: 10px;
    right: 10px;
  }
  .feedbackbtn {
    padding: 5px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    cursor: pointer;
  }

  .feedbackbtn:hover {
    opacity: 0.5;
  }
  .fa-comments {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .upload-conatianer {
    width: 100%;
    margin: auto;
  }
}
